<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Enet Care</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><a href="#"><img src="~/Images/logo.PNG" /></a></p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            <div class="float-left">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    if (Session["UserRole"] == null) //TempData use
                    {
                        if (HttpContext.Current.User.IsInRole("Agent"))
                        {
                            Session["UserRole"] = "Agent";
                        }
                    }
                    if (Session["UserRole"] == "Agent")
                    {

                        <div class="sidebar_menu">
                            <ul>
                                <li>@Html.ActionLink("Register Medication", "RegisterMedication", "Medication")</li>
                                <li>@Html.ActionLink("Register Package", "RegisterPackage", "Package")</li>
                                <li>@Html.ActionLink("Send Package", "SendPackage", "Package")</li>
                                <li>@Html.ActionLink("Receive Package", "ReceivePackage", "Package")</li>
                                <li>@Html.ActionLink("Audit Package", "AuditPackage", "Package")</li>
                                <li>@Html.ActionLink("Stocktaking Report", "StockTakingReport", "Package")</li>
                                <li>@Html.ActionLink("Discard Package", "DiscardPackage", "Package")</li>
                            </ul>
                        </div>

                    }
                    else if (Session["UserRole"] == null)
                    {
                        if (HttpContext.Current.User.IsInRole("Doctor"))
                        {
                            Session["UserRole"] = "Doctor";
                        }
                    }

                    if (Session["UserRole"] == "Doctor")
                    {
                        <div class="sidebar_menu">
                            <ul>
                                <li>@Html.ActionLink("Register Medication", "RegisterMedication", "Medication")</li>
                                <li>@Html.ActionLink("Register Package", "RegisterPackage", "Package")</li>
                                <li>@Html.ActionLink("Send Package", "SendPackage", "Package")</li>
                                <li>@Html.ActionLink("Receive Package", "ReceivePackage", "Package")</li>
                                <li>@Html.ActionLink("Audit Package", "AuditPackage", "Package")</li>
                                <li>@Html.ActionLink("Stocktaking Report", "StockTakingReport", "Package")</li>
                                <li>@Html.ActionLink("Discard Package", "DiscardPackage", "Package")</li>
                                <li>@Html.ActionLink("Distribute Package", "DistributePackage", "Package")</li>
                            </ul>
                        </div>
                    }
                    else if (Session["UserRole"] == null)
                    {
                        if (HttpContext.Current.User.IsInRole("Manager"))
                        {
                            Session["UserRole"] = "Manager";
                        }
                    }

                    if (Session["UserRole"] == "Manager")
                    {
                        <div class="sidebar_menu">
                            <ul>
                                <li>@Html.ActionLink("Distribution Center Stock", "DistributionCenterStock", "Report")</li>
                                <li>@Html.ActionLink("Global Stock", "GlobalStock", "Report")</li>
                                <li>@Html.ActionLink("Distribution Center Loss", "DistributionCenterLosses", "Report")</li>
                                <li>@Html.ActionLink("Value in Transit", "ValueInTransit", "Report")</li>
                                <li>@Html.ActionLink("Doctor Activity", "DoctorActivity", "Report")</li>
                            </ul>
                        </div>
                    }
                }
            </div>
            @RenderBody()

        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
